
/**
 * 设置默认宽度
 */
body{
	background: url(../img/bd-bg.png) repeat-x;
	height: 5000px;
}
.w{
	width: 940px;
	margin: 0px auto;
}
/**
 * logo的样式
 */
.header{
	/*background: skyblue;*/
	height: 160px;
}
.header .logo{
	width: 270px;
	height: 76px;
	padding: 37px 0px 46px 17px;
	/*background: yellow;*/
}
.header .nav{
	float: right;
	padding-top: 50px;
	padding-right: 16px;
}
.header .nav a{
	text-decoration: none;
	color: #666;
	font: 14px Georgia;
	font-weight: bold;
}
.header .nav li{
	float: left;
	border-left: 1px #DFDFDF dashed;
	padding-left: 10px;
	padding-right: 10px;
}
.header .nav p{
	color:#bfbfbf;
	font:11px Tahoma 
}
